* text=auto !eol
GUI/icon1.ico -text
Partmod/definitions.cpp -text
Partmod/definitions.h -text
Partmod/disk_exception.cpp -text
Partmod/dllcall.cpp -text
Partmod/ebr.h -text
Partmod/partition_manager.cpp -text
diskio/diskio-linux.cpp -text
diskio/diskio.cpp -text
wxGUI/dlg_create_backup.cpp -text
wxGUI/dlg_create_backup.h -text
wxGUI/dlg_guid_list.cpp -text
wxGUI/dlg_guid_list.h -text
wxGUI/dlg_newpart.cpp -text
wxGUI/dlg_newpart.hpp -text
wxGUI/dlg_open_diskimage.cpp -text
wxGUI/dlg_open_diskimage.h -text
wxGUI/dlg_restore_backup.cpp -text
wxGUI/dlg_restore_backup.h -text
wxGUI/main_app.cpp -text
